<h1 class="event-signup-h1">Sign Up to Create Events</h1>
<form id="eventSignUpForm">
	<div class="col-sm-6">
		<div class="form-group has-feedback">
			<label class="control-label" for="name">Full Name</label>
			<input id="name" type="text" class="form-control" required placeholder="John Doe" autocomplete="name" aria-describedby="nameStatus" ng-model="fullName" ng-minlength="3" autofocus data-toggle="popover" data-container="body" data-content="Hey there! What's your name?" data-placement="top" data-trigger="focus">
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group has-feedback">
			<label class="control-label" for="email">Email Address</label>
			<input id="email" type="email" class="form-control" required placeholder="your@email.com" autocomplete="email" ng-model="email" data-toggle="popover" data-container="body" data-content="What's your email address?" data-placement="top" data-trigger="focus">
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group has-feedback">
			<label class="control-label" for="password">Password</label>
			<input id="password" type="password" class="form-control" required ng-model="password">
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="form-group has-feedback">
			<label for="confPass" class="control-label">Confirm Password</label>
			<input id="confPass" type="password" class="form-control" required ng-model="confPass">
			<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
		</div>
	</div>
	<div class="password-disclaimer col-sm-6">
		Password Requirements: Must be at least 8 characters, contain both lowercase and uppercase letters, a number, and punctuation.
	</div>
	<div class="password-error col-sm-6">

	</div>
	<h4>Additional Information (optional)</h4>
	<div class="form-group col-sm-6">
		<label for="company">Company</label>
		<input id="company" type="text" class="form-control" autocomplete="organization" ng-model="company">
	</div>
	<div class="form-group col-sm-6">
		<label for="jobTitle">Job Title</label>
		<input id="jobTitle" type="text" class="form-control" autocomplete="organization-title" ng-model="job">
	</div>
	<div class="form-group col-sm-3">
		<label for="bDay">Birthday</label>
		<input id="bDay" type="date" class="form-control" autocomplete="bday" ng-model="bday">
	</div>
	<div class="form-group col-sm-9">
		<label for="autocomplete">Home Address</label>
		<input id="autocomplete" type="text" class="form-control" autocomplete="off" ng-model="homeAddress">
	</div>
	<div class="form-group col-sm-2">
		<button type="submit" class="btn btn-success" ng-click="eventSignup()">Sign Up</button>
	</div>
	<div class="col-sm-10">
		<span class="full-form-error"></span>
	</div>
</form>