<!DOCTYPE html>
<html>
	<head>
		<title>Transportinator</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="css/transportinator.min.css">
	</head>
	<body ng-app="transportinator">
		<div class="container">
			<div ui-view></div>
		</div>
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/angular.min.js"></script>
		<script src="js/vendor/angular-ui-router.min.js"></script>
		<script src="js/vendor/angular-resource.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/underscore-min.js"></script>
		<script src="app/transportinator.min.js"></script>
	</body>
</html>