<!DOCTYPE html>
<html>
	<head>
		<title>Heath's Udacity Page</title>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container">
				<a href="#" class="navbar-brand">Heath's Udacity Projects</a>
				<div class="nav navbar-nav navbar-right">

				</div>
			</div>
		</div>
		<div class="container">
			<div class="page-header">
				<h1>Welcome to Heath's Udacity <small>the hub for all my projects</small></h1>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Senior Web Developer Nanodegree</h3>
				</div>
				<div class="panel-body">
					<div class="col-md-4">
						<a href="eventinator">
							<i class="glyphicon glyphicon-calendar"></i> Eventinator (meet-up event planner app)
						</a>
					</div>
					<div class="col-md-4">
						<a href="transportinator">
							<i class="glyphicon glyphicon-transfer"></i> Transportinator (public transportation app)
						</a>
					</div>
				</div>
			</div>
		</div>
		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/bootstrap.min.js"></script>
		<script src="js/vendor/toastr.min.js"></script>
	</body>
</html>