<h1>Route {{routeId}} Info</h1>
<div class="container">
	<div class="col-xs-12 realtime-updater" ng-show="hasRealtimeAccess">
		Last Update: {{lastUpdate | date: 'short'}} (times listed in <span class="updated-info">red</span> have been updated)
	</div>
	<h4>Make a selection to see train times</h4>
	<div class="col-xs-3">
		<label for="tripDirection">Train Direction:</label>
		<select class="something" name="tripDirection" ng-model="tripDirection" ng-change="getStops()">
			<option value="0">North</option>
			<option value="1">South</option>
		</select>
	</div>
	<div class="col-xs-5">
		<label for="tripStart">Starting Stop:</label>
		<select class="something" name="tripStart" ng-model="tripStart" ng-change="getAvailableEndStops()">
			<option ng-repeat="stop in stops" value="{{stop.stop_id}}">{{stop.stop_name}}</option>
		</select>
	</div>
	<div class="col-xs-4">
		<label for="tripEnd">Ending Stop:</label>
		<select class="something" name="tripEnd" ng-model="tripEnd" ng-change="displayStopTimes()">
			<option ng-repeat="stop in endStops" value="{{stop.stop_id}}">{{stop.stop_name}}</option>
		</select>
	</div>
</div>
<div class="container route-times-table">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th ng-repeat="stop in stops" data-stop-id="{{stop.stop_id}}">
						{{stop.stop_name}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="trip in trips" data-trip-id="{{trip.trip_id}}">
					<td ng-repeat="stoptime in trip.stoptimes" data-stop-id="{{stoptime.stop_id}}">
						{{stoptime.departure_time | date: 'hh:mm:ss a'}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>