<!DOCTYPE html>
<html>
	<head>
		<title>Eventinator</title>
		<link rel="stylesheet" href="css/vendor/bootstrap.min.css">
		<link rel="stylesheet" href="css/eventinator.min.css">
	</head>
	<body ng-app="eventinator" ng-controller="eventinatorCtrl">
		<div class="container">
			<h1>Welcome to the Eventinator!</h1>
			<p>This is all of the events! Don't you like them? You better! Yay!</p>
			<h2>{{testVar}}</h2>
		</div>

		<script src="js/vendor/jquery.min.js"></script>
		<script src="js/vendor/angular.min.js"></script>
		<script src="js/vendor/angular-ui-router.min.js"></script>
		<script src="js/eventinator.min.js"></script>
	</body>
</html>